.title{
    font-size: 3rem;
    color: #F2505D;
}

.about{
    margin: 5vh;
    
    text-align: center;
}

.about h4{
    font-size: 1.5rem;
}

.content{
    text-align: center;
    margin: auto;
    width: 50%;
}

#skills{
}