$HIBERNATION-VI-1-hex: #F2505D;
$HIBERNATION-VI-2-hex: #011526;
$HIBERNATION-VI-3-hex: #092B40;
$HIBERNATION-VI-4-hex: #F2D9BB;
$HIBERNATION-VI-5-hex: #F28066;

#bg{
    height: 100%;
    width:  100%;
    overflow: hidden
}

.page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:  100%;
    background-image: url("homebg.jpg");
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    align-content: center;
    filter: blur(5px);         /* apply the blur */
    transform: scale(1.1);
    overflow:unset;
    top: 0;
    left: 0;
    object-fit: contain;
    display: block;
    opacity: 75%;
}

.name{
    color:$HIBERNATION-VI-1-hex;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: -1vh;
}

.name, .tag{
    text-align: center;
}

.portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 27vh;
    height: 27vh;
    border-radius: 50%;
}