@font-face {
  font-family: 'Rozanova';
  src: url('RozanovaGEO-Demo-SemiBold.woff2') format('woff2'),
      url('RozanovaGEO-Demo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  background-color: #011526;
  color: #F2F2F2;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
  font-family: 'Rozanova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
