ul{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    list-style-type:none;   
    text-align: center;
    background-position: center;
    z-index: 2;
    font-size: larger;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(1,21,38,0.9) 100%);
}

li{
    margin: 3vh 5vh 3vh 5vh;
    display: inline-block;
}